html, body {
    height: 100%;
    width: 100%;
  }
  *{
    margin :0;
    padding: 0 ;
  }
  .container{
  height: 100vh ;
  width :100vw ;
  background-color: #cce7fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box{
    height: 70%;
    width : 50% ;
    /* background-color: purple; */
    background-color: #683206 ;
    border: 2px solid #683206;
    border-radius: 25px;
  }
  .sec1{
    height: 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec2{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    height: 50%;
    width: 27%;
    background-color: rgb(255, 232, 157);
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
  }
  button:active{
    height: 55%;
    width: 28%;
    font-size: 1.3rem;
  }
  p{
    /* padding: 0px 25px; */
  }